.btn-warning:hover{
    font-size:20px;
    color: blue;
}

.note{
box-shadow: 5px 10px 5px yellow;
margin-top: 10px;
}


#copy_right_footer{
    box-shadow: 5px 20px 5px grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}